.profile__container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

@media screen and (max-width: 918px) {
  .profile__container {
    -ms-grid-column-align: end;
    justify-self: end;
  }
}

@media screen and (max-width: 619px) {
  .profile__container {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
}
