.profile__avatar-btn {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('../../../../src/images/edit-avatar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

.profile__avatar-btn:hover {
  opacity: 1;
}
