.profile {
  padding: 40px 0 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 730px 150px;
      grid-template-columns: 730px 150px;
}

@media screen and (max-width: 918px) {
  .profile {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 36px 0;
  }
}

@media screen and (max-width: 619px) {
  .profile {
    padding: 42px 0 36px;
  }
}