.header__auth_btn {
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 619px) {
  .header__auth_btn {
    margin-right: 19px;
  }
}