.auth__link {
  display: inline-block;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  transition: opacity 0.5s;
}

.auth__link:hover {
  opacity: 0.6;
}