.header__auth_link {
  font-family: 'Inter';
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 30px;
  transition: opacity 0.5s;
}

.header__auth_link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 619px) {
  .header__auth_link {
    margin-right: 19px;
  }
}