.auth__btn {
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  margin-bottom: 15px;
  border: none;
  border-radius: 2px;
  margin-top: 180px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  cursor: pointer;
  transition: opacity 0.5s;
}

.auth__btn:hover {
  opacity: 0.85;
}

@media screen and (max-width: 619px) {
  .auth__btn {
    margin-top: 160px;
  }
}